.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 1rem;
}

.container-horizontal {
  display: flex;
  align-items: center;
  margin: 2rem;
}

@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
  }
  .container-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
}
.opportunities {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.opportunities thead {
  border: 1px solid rgb(0, 0, 0);
  background-color: #7e7e7e;
}
.opportunities tbody {
  /* display: block; */
  /* flex: 1; */
}

.opportunities tbody:nth-child(even) {
  background-color: #dcdcdc;
}

.opportunities td {
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
}
